<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true" />
		<add key="Path" value="C:\Users\furma\Desktop\DirectoryMonitor\WatcherService\bin\Debug\" />
		<add key="Filter" value="*.*" />
		<add key="SubDirs" value="False" />
		<add key="Create" value="True" />
		<add key="Edit" value="True" />
		<add key="Delete" value="True" />
		<add key="Rename" value="True" />
		<add key="Error" value="True" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add
					name="textWriterTraceListener"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="C:\users\furma\Desktop\log4netdebug.txt" />
			</listeners>
		</trace>
	</system.diagnostics>

</configuration>